//
// Animation
//--------------------------------------------------

$animation-short:               .15s;
$animation-med:                 .35s;
$animation-long:                .55s;

$animation-stagger:             .1s;

$easing-default:                ease-in-out;
