//
// Typography
//--------------------------------------------------

$font-serif:                    'Merriweather', serif;
$font-sans-serif:               'Open Sans', sans-serif;
$font-size-base:                16px;
$font-size-fluid-min:           $font-size-base;
$font-size-fluid-max:           20px;
$line-height-base:              1.42857143;
