@import 'include-media';
@import 'modules/animation';
@import 'modules/colors';
@import 'modules/settings';

.project-card {
  background: $color-white;
  color: $color-white;

  &:not(:first-child) {
    border-top: 1px solid $color-gray;

    @include media('>=md') {
      border-top: 0;
      border-left: 1px solid $color-gray;
    }
  }

  @for $i from 1 through $project-count {
    &:nth-of-type(#{$i}) {
      transform: translateY(((100 / $project-count) * ($i - 1)) * 1%);

      @include media('>=md') {
        transform: translateX(((100 / $project-count) * ($i - 1)) * 1%);
        transition-delay: $animation-stagger * ($project-count - $i);
      }
    }

    .bio-active & {
      &:nth-of-type(#{$i}) {
        transform: translateY((80 + ((20 / $project-count) * ($i - 1))) * 1%);

        @include media('>=md') {
          transform: translate(((100 / $project-count) * ($i - 1)) * 1%, 60%);
          transition-delay: $animation-stagger * ($i - 1);
        }

        &:hover {
          @include media('>=md') {
            transform: translate(((100 / $project-count) * ($i - 1)) * 1%, 60%);
          }
        }
      }
    }
  }

  &__container {
    position: relative;
    height: 33.33333%;

    @include media('>=md') {
      height: 100%;
    }

    .project-card--open & {
      min-height: 100%;
      overflow: auto;
    }
  }

  &__title {
    color: $color-gray;
    cursor: pointer;
    display: inline-block;
    font-size: 2.4rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &::after {
      content: '';
      background-color: $color-gray;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transform: scaleX(0);
      transition: transform .25s $easing-default;
      z-index: -1;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transition-delay: .25s;
      }

      span {
        &::before {
          transition-delay: .25s;
          width: 100%;
        }

        &::after {
          transform: translate(100%, -50%);
          transition-delay: 0s;
        }
      }
    }

    span {
      display: block;
      overflow: hidden;
      position: relative;
      z-index: 1;

      &::before {
        content: attr(data-content);
        color: $color-white;
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 0;
        transition: width .25s $easing-default;
        white-space: nowrap;
        will-change: width;
        z-index: 1;
      }

      &::after {
        content: '';
        background-color: $color-white;
        display: block;
        height: 20%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        transition: transform .25s $easing-default .25s;
        z-index: 1;
      }
    }

    .project-card--open & {
      cursor: default;
      z-index: 0;

      &::after {
        transform: scale(50);
      }

      span {
        &::before {
          transition: {
            delay: 0s;
            duration: 0s;
          };
          width: 100%;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  &__copy {
    margin-top: 65px;
    opacity: 0;
    position: relative;
    transform: translateY(10px);
    transition: {
      duration: $animation-short;
      property: opacity, transform;
    };

    .project-card--open & {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .55s;
    }
  }

  &__info {
    height: 100%;
    overflow: hidden;
    padding: 45px 5%;
    position: relative;

    @include media('>=md') {
      margin: 30px;
      padding: 25vh 36px 36px;
      width: calc(33.33333% - 60px);
    }

    @include media('>=lg') {
      width: calc(33.33333% - 60px);
    }

    .project-card--open & {
      height: auto;

      @include media('>=md') {
        position: fixed;
        height: calc(100% - 60px);
        width: calc(33.33333% - 60px);
      }

      @include media('>=md', '<lg') {
        width: calc(50% - 60px);
      }
    }
  }

  &__subhead {
    line-height: 1;
    text-transform: capitalize;
  }

  &__attribute {
    margin: 0 0 25px;
  }

  &__link {
    color: $color-white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    z-index: 1;

    > svg {
      height: 20px;
      margin-left: 5px;
      transform: translateX(3px);
      transition: transform $animation-short $easing-default;
      will-change: transform;
    }

    &:hover {
      color: darken($color-white, 10%);

      > svg {
        transform: translateX(0);
      }
    }
  }

  &__image-container {
    @include media('>=md') {
      height: 100%;
      margin-left: 50%;
      opacity: 0;
      width: 50%;
      transition: opacity $animation-med $easing-default;

      .project-card--open & {
        opacity: 1;
      }
    }

    @include media('>=lg') {
      margin-left: 33.33333%;
      width: 66.66667%;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;

    @include media('>=md') {
      height: 100vh;
      padding: 0;
    }

    > img {
      display: block;
    }
  }

  &.project-card--open {
    min-height: 100vh;
    overflow: hidden;
    transform: translate(0);

    &~ .project-card {
      transform: translateY(100%);

      @include media('>=md') {
        transform: translateX(100%);
      }
    }
  }
}
