//
// Settings & Variables
// --------------------------------------------------

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px
);

$grid: (
  columns: 12,
  gutters: 0,
  layout: 'flexbox'
);

$project-count:                 3;

//
// Typography
//--------------------------------------------------

$font-serif:                    'Merriweather', serif;
$font-sans-serif:               'Open Sans', sans-serif;
$font-size-base:                16px;
$font-size-fluid-min:           $font-size-base;
$font-size-fluid-max:           20px;
$line-height-base:              1.42857143;

$header-sizes: (
  h1: 2.4rem, // 48px
  h2: 1.8rem, // 36px
  h3: 1.4rem, // 30px
  h4: 1.2rem, // 24px
  h5: 1rem, // 20px
  h6: .8rem // 16px
);

//
// Colors
//--------------------------------------------------

$color-black:                   #000;
$color-white:                   #fff;
$color-gray:                    #323031;

$color-blue:                    #0075ab;
$color-blue-secondary:          #0056a9;

//
// Animation
//--------------------------------------------------

$animation-short:               .15s;
$animation-med:                 .35s;
$animation-long:                .55s;

$animation-stagger:             .1s;

$easing-default:                ease-in-out;
