//
// Typography
// --------------------------------------------------

@import 'modules/animation';
@import 'modules/breakpoints';
@import 'modules/colors';
@import 'modules/fluid-typography';
@import 'modules/type';

html {
  @include fluid-type(font-size, map-get($breakpoints, 'xs'), map-get($breakpoints, 'lg'), 16px, 20px);
}

body {
  font-family: $font-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

// Links
a {
  // styles for plain, inline links.
  &:not([class]) {
    color: inherit;
    position: relative;
    text-decoration: none;

    &::after {
      content: '';
      border-bottom: 1px solid $color-white;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: translateY(2px);
      transition-duration: $animation-med;
      transition-property: opacity, transform;
      transition-timing-function: $easing-default;
    }

    &:hover,
    &:focus {
      &::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

// reset all header sizes. specify sizes as needed.
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
  font-size: 1.33em;
  font-weight: 900;
  margin: 0;
}
