@import '_settings'

normalize-css()
base()

html, body
  height: 100%

.projects-wrapper
  height: 100%
  overflow: hidden
  position: relative

.project-card
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  transition: transform .35s

  &:nth-of-type(2)
    transform: translateY(33.33333%)

  &:nth-of-type(3)
    transform: translateY(66.66667%)

  &__header
    height: 33.33333%
